<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <img src="images/finall.png" alt="" class="navlogo">
            <div class="searchcontainer">
                <input type="search" class="search-bar" placeholder="Search...">
                <button class="searchbutton">Search</button>
            </div>
            <div class="navlinks">
                <a href="/" class="navi">HOME</a>
                <a href="" class="navi">COURSE</a>
                <a href="/aboutus" class="navi">ABOUT-US</a>
                <% if (user) { %>
                    <a href="#" class="navi">Hello, <%= user.name %></a>
                    <a href="/logout" class="navi">LOGOUT</a>
                <% } else { %>
                    <a href="/login" class="navi">LOGIN/SIGNUP</a>
                <% } %>
            </div>
        </div>
        
        <div class="bgquote">
            <img src="images/study.jpg" alt="" class="bgimg">
        </div>
        <div class="cources">
            <h1>Latest Cources</h1>
            <div class="cards">
                <a href="/nimcetcard" class="links">
                <div class="card" >
                    <img src="images/nimcet.jpeg" alt="" class="nimcet">
                    <br>
                    <p>The NIMCET is a Common Entrance National Level Test, conducted by any of the NITs, for admission in to their MCA programme. The MCA programme is offered by NITs at Agartala, Allahabad, Bhopal, Jamshedpur, Kurukshetra, Patna, Raipur, Surathkal, Tiruchirappalli, Warangal and IIIT at Bhopal. The admission into the MCA programme for the year 2024-25 in above 10 NITs and 01 IIIT is based on the Rank obtained in NIMCET-2024 only.</p>
                </div>
            </a>
            <a href="/jeecard" class="links">
                <div class="card">
                    <img src="images/jee-main-2025.webp" alt="" class="jee">
                    <br>
                    <p>Joint Entrance Examination – Main (JEE-Main), formerly All India Engineering Entrance Examination (AIEEE),  admission to various technical undergraduate programs in engineering.The exam is conducted by the National Testing Agency for admission to B.Tech, B.Arch, B.Planning etc. programs in premier technical institutes such as the National Institutes of Technology (NITs), Indian Institutes of Information Technology (IIITs) in JEE-Main. </p>
                </div>
            </a>
            <a href="/neetcard" class="links">
                <div class="card">
                    <img src="images/neet.jpg" alt="" class="neet">
                    <br>
                    <p>The National Eligibility cum Entrance Test (Undergraduate) or NEET (UG), formerly the All India Pre-Medical Test (AIPMT), is an Indian nationwide entrance examination conducted by the National Testing Agency (NTA) for admission in undergraduate medical programs.</p>
                </div>
            </a>
            <a href="/gatecard" class="links">
                <div class="card">
                    <img src="images/gateimg.jpg" alt="" class="gate">
                    <br>
                    <p>GATE, which stands for Graduate Aptitude Test in Engineering, is a national-level exam primarily taken by final-year BTech and MCA students. The exam serves as a gateway for admission to MTech programs</p>
                </div>
            </a>
            <a href="/cuetcard" class="links">
                <div class="card">
                    <img src="images/cuet.webp" alt="" class="cuet">
                    <br>
                    <p>CUET stands for Common University Entrance Test which is a national-level entrance exam designed to grant admission to a wide range of undergraduate and postgraduate programmes offered by central, private, deemed and other universities in India</p>
                </div>
            </a>
            <a href="/upsccard" class="links">
                <div class="card">
                    <img src="images/upsc.jpg" alt="" class="upsc">
                    <br>
                    <p>The Full form of UPSC is Union Public Service Commission. One of the most competitive and prestigious exams, civil services, is conducted by the Union Public Service Commission (UPSC), India’s major regulating body</p>
                </div>
            </a>
            </div>
        </div>
        <div class="specialfeature">
            <h1>Our Special Feature</h1>
            <br>
            <div class="featurecontainer">
                <a href="/main" class="links">
                <div class="box">
                    <img src="images/test series.webp" alt="" class="test">
                </div>
            </a>
            <a href="/mentor" class="links">
                <div class="box">
                    <img src="images/mentorship.jpg" alt="" class="mentor">
                </div>
            </a>
            <a href="/main1" class="links">
                <div class="box">
                    <img src="images/pyq.jpg" alt="" class="pyqs">
                </div>
            </a>
            <a href="/main2" class="links">
                <div class="box">
                    <img src="images/notes.webp" alt="" class="note">
                </div>
            </div>
        </a>
        </div>
        <div class="mandela">
            <img src="images/nelsonimg.jpg" alt="" class="neli">
            <img src="images/nelson quote.webp" alt="" class="nelq">
        </div>
        <div class="footer">
            <div class="box1">
                <img src="images/finall.png" alt="" class="ftimg1">
                <p>Plot No.34,35<br>Knowledge Park I,Greater Noida <br>Uttar Pradesh-201310</p>
            </div>
            <div class="box2">
                <h3>STAY IN TOUCH</h3>
                <br><br>
                <img src="images/instagrame.png" alt="" class="ftimg">
                <img src="images/facebook.png" alt=""  class="ftimg">
                <img src="images/youtube.png" alt=""  class="ftimg">
                <img src="images/twitter.png" alt=""  class="ftimg">
                <br> <br>
                <a href="" class="fta" title="Your Valuable Feedback is appreciated">Please Share Your Valuable Feedback Here</a>
            </div>
            <div class="box3">
                <p>Contact Us|
                    Privacy Policy|
                    Terms & Conditions|
                    Gifting Policy|
                    Online payment & refund policy|
                    Tele-consult|
                    Contact
                    <br>
                    © 2022 Rank Bridge. All Rights Reserved.</p>
            </div>
        </div>
    
    </div>
</body>
</html>