<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/neetcard.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <img src="/images/finall.png" alt="Logo" class="navlogo">
            <div class="searchcontainer">
                <input type="search" class="search-bar" placeholder="Search...">
                <button class="searchbutton">Search</button>
            </div>
            <div class="navlinks">
                <a href="/" class="navi">HOME</a>
                <a href="#" class="navi">COURSE</a>
                <a href="/aboutus" class="navi">ABOUT US</a>
                <% if (user) { %>
                    <a href="#" class="navi">Hello, <%= user.name %></a>
                    <a href="/logout" class="navi">LOGOUT</a>
                <% } else { %>
                    <a href="/login" class="navi">LOGIN/SIGNUP</a>
                <% } %>
            </div>
        </div>
    </div>
        <div class="centre">
            <div class="card dropright">
                <img src="images/biology.webp" alt="biology" class="bio">
                <div class="dropright-menu">
                    <a href="https://www.youtube.com/watch?v=Fzg8jEv4n10&pp=ygUpY2VsbCBzdHJ1Y3R1cmUgYW5kIGZ1bmN0aW9uIG5lZXQgb25lIHNob3Q%3D">Cell Structure and function</a>
                    <a href="https://www.youtube.com/watch?v=Zql3HiQpOG8&pp=ygUecGxhbnQgcGh5c2lvbG9neSBuZWV0IG9uZSBzaG90">Plant Physiology</a>
                    <a href="https://www.youtube.com/watch?v=801CIWiUSJk&pp=ygUgcmVzcGlyYXRvcnkgc3lzdGVtIG5lZXQgb25lIHNob3Q%3D">Respiratory System</a>
                    <a href="https://www.youtube.com/watch?v=YzMpowByJD0&pp=ygUpYm9keSBmbHVpZHMgYW5kIGNpcmN1bGF0aW9uIG5lZXQgb25lIHNob3Q%3D">Body Fluids And Circulation</a>
                    <a href="https://www.youtube.com/watch?v=oockTa1WhsY&pp=ygU1ZXhjcmV0b3J5IHByb2R1Y3QgYW5kIHRoZWlyIGVsaW1pbmF0aW9uIG5lZXQgb25lIHNob3Q%3D">Excretory Product and Elimination</a>
                    <a href="https://www.youtube.com/watch?v=Q5jluBG-yoM&pp=ygUlbG9jb21vdGlvbiBhbmQgbW92ZW1lbnQgbmVldCBvbmUgc2hvdA%3D%3D">Locomotion And Movement</a>
                    <a href="https://www.youtube.com/watch?v=WMWG1Zzu79c&pp=ygUtbmV1cmFsIGNvbnRyb2wgYW5kIGNvb3JkaW5hdGlvbiBuZWV0IG9uZSBzaG90">Neural Control And Coordination</a>
                    <a href="https://www.youtube.com/watch?v=lnsN-W6OVdo&pp=ygUyY2hlbWljYWwgY29vcmRpbmF0aW9uIGFuZCByZWd1bGF0aW9uIG5lZXQgb25lIHNob3Q%3D">Chemical Coordination and regulation</a>

                </div>
            </div>
            <div class="card dropleft">
                <img src="images/physics.jpg" alt="Physics" class="phy">
                <div class="dropleft-menu">
                   <a href="https://www.youtube.com/watch?v=UjFSsnu6Zns&pp=ygUkcm90YXRpb25hbCBtb3Rpb24gamVlIG1haW5zIG9uZSBzaG90">Rotational Motion</a>
                   <a href="https://www.youtube.com/watch?v=2u1A9gskJ2I&pp=ygUhdGhlcm1vZHluYW1pY3MgamVlIG1haW5zIG9uZSBzaG90">Thermodynamics</a>
                   <a href="https://www.youtube.com/watch?v=urEsdx9xfKI&pp=ygUpb3NjaWxsYXRpb25zIGFuZCB3YXZlcyBqZWUgbWFpbnMgb25lIHNob3Q%3D">Oscillation and waves</a>
                   <a href="https://www.youtube.com/watch?v=StwUNDxdw2c&pp=ygUhZWxlY3Ryb3N0YXRpY3MgamVlIG1haW5zIG9uZSBzaG90">Electrostatics</a>
                   <a href="https://www.youtube.com/watch?v=5M53eu3UI3U&pp=ygUZb3B0aWNzIGplZSBtYWlucyBvbmUgc2hvdA%3D%3D">Optics</a>
                   <a href="https://www.youtube.com/watch?v=I4kB3onwjpw&pp=ygUjbWFnbmV0aWMgY3VycmVudCBqZWUgbWFpbnMgb25lIHNob3Q%3D">Magnetic Cureent</a>
                   <a href="https://www.youtube.com/watch?v=JY24andAvME&pp=ygUnIGN1cnJlbnQgZWxlY3RyaWNpdHkgamVlIG1haW5zIG9uZSBzaG90">Current Electricity</a>
                   <a href="https://www.youtube.com/watch?v=V76QPpoWVwA&pp=ygUhbW9kZXJuIHBoeXNpY3MgamVlIG1haW5zIG9uZSBzaG90">Modern Physics</a> 
                </div>
            </div>
            <div class="card dropright">
                <img src="images/chemistry.jpg" alt="Chemistry" class="chem">
                <div class="dropright-menu">
                    <a href="https://www.youtube.com/watch?v=pi0bAxOGHIo&pp=ygUfbW9sZSBjb25jZXB0IGplZSBtYWlucyBvbmUgc2hvdA%3D%3D">Mole Concept</a>
                    <a href="https://www.youtube.com/watch?v=d7DKkFHcdZE&pp=ygUhcmVkb3ggcmVhY3Rpb24gamVlIG1haW5zIG9uZSBzaG90">Redox Reaction </a>
                    <a href="https://www.youtube.com/watch?v=EHy52QPMdsk&pp=ygUjZWxlY3Ryb2NoZW1pc3RyeSBqZWUgbWFpbnMgb25lIHNob3Q%3D">Electrochemistry</a>
                    <a href="https://www.youtube.com/watch?v=T0LFfBuifjk&pp=ygUkY2hlbWljYWwga2luZXRpY3MgamVlIG1haW5zIG9uZSBzaG90">Chemical Kinetics</a>
                    <a href="https://www.youtube.com/watch?v=ajG-4UVkdeE&pp=ygUic3RlcmVvY2hlbWlzdHJ5IGplZSBtYWlucyBvbmUgc2hvdA%3D%3D">Stereochemistry</a>
                    <a href="https://www.youtube.com/watch?v=kwG6zR-Gvso&pp=ygUkb3JnYW5pYyBjaGVtaXN0cnkgamVlIG1haW5zIG9uZSBzaG90">Organic Chemistry</a>
                    <a href="https://www.youtube.com/watch?v=sziNY_YN730&pp=ygUjYXRvbWljIHN0cnVjdHVyZSBqZWUgbWFpbnMgb25lIHNob3Q%3D">Atomic Structure</a>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="box1">
                <img src="images/finall.png" alt="" class="ftimg1">
                <p>Plot No.34,35<br>Knowledge Park I,Greater Noida <br>Uttar Pradesh-201310</p>
            </div>
            <div class="box2">
                <h3>STAY IN TOUCH</h3>
                <br><br>
                <img src="images/instagrame.png" alt="" class="ftimg">
                <img src="images/facebook.png" alt=""  class="ftimg">
                <img src="images/youtube.png" alt=""  class="ftimg">
                <img src="images/twitter.png" alt=""  class="ftimg">
                <br> <br>
                <a href="" class="fta" title="Your Valuable Feedback is appreciated">Please Share Your Valuable Feedback Here</a>
            </div>
            <div class="box3">
                <p>Contact Us|
                    Privacy Policy|
                    Terms & Conditions|
                    Gifting Policy|
                    Online payment & refund policy|
                    Tele-consult|
                    Contact
                    <br>
                    © 2022 Rank Bridge. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</body>
</html>